* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.menu-icon {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

nav .logo {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu a {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
  transform: 0.5s;
}
.menu a:hover{
  color: rgb(117, 54, 54);
}
@media (max-width: 768px) {
  nav .menu {
      position: fixed;
    right: -100%;
      top: 6rem;
      flex-direction: column;
      background-color: #333;
      width: 400px;
      height: 500px;
      text-align: center;
      transition: 0.3s;
  }

  nav .menu.active {
      left: 0;
  }

  nav .menu a {
      padding: 1.5rem;
  }

  nav .menu-icon {
      display: block;
      color: #fc0000;
      padding: 1rem;
      cursor: pointer;
  }
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 20rem;
}

.display {
  width: 100%;
  margin-bottom: 1rem;
  text-align: right;
  font-size: 1.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.buttons button {
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.buttons button:hover {
  background-color: #f5f5f5;
}
/* gme */
#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  position: relative;
}

#character {
  width: 20px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

#block {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: block 1s infinite linear;
}

@keyframes block {
  0% { right: 500px; }
  100% { right: -20px; }
}